body {
   background-color: black;
}

.display {
    height: 300px;
    width: 300px;
}

.navbar {
    display: inline-block;

}

.showcase {
    width: 200px;
    height: 200px;
}

.showcase tr {
    margin: 20px;
}
